#titles_big
{
    text-align: center;
    color: #bd93f9;
}
#image_1
{
    align-content: center;
    width: 45%;
    margin: 0 auto;
    opacity: 1
}
#image_1:hover
{
    background: #000;
    opacity: 0.5;
}
#background
{
    background-image: url(../images/1567666.png);
    background-color: #44475a;
    
}

.container
{
    border: 3px solid black;
    border-radius: 25px;
    border-color: #282a36;
    background-color: #282a36;
    width: 700px;
    color: #8be9fd;
    margin: 0 auto;
}
.functionality_1
{
    border: 3px solid black;
    border-radius: 25px;
    border-color: #282a36;
    background-color:#282a36;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    color: #f8f8f2;
}
.header
{
    text-align: center;
}
.header a
{
    color: #50fa7b;
    text-decoration: none;
    font-size: 20px;
    font-family:"Arial Narrow", "Myriad Pro";
}
.header a:link, a:visited
{
    background-color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:3px solid black;
    border-radius:5px;
}
.header a:hover, a:active
{
    background-color:green;
    opacity: 0.8;
}
.menu
{
    text-align: center;
    border:3px solid #44475a;
    border-radius: 5px;
    background-color: #44475a;
}
.menu a
{
    color: #50fa7b;
    text-decoration: none;
    font-size: 14px;
    font-family:"Arial Narrow", "Myriad Pro";
}
.menu a:link, a:visited
{
    background-color: black;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:3px solid black;
    border-radius:5px;
}
.menu a:hover, a:active
{
    background-color:green;
    opacity: 0.8;
}